.App {
  text-align: center;
  background-color: #edf5e1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #379683;
}

.App-header p {
  margin: 10px 0px;
}

.App-header .title {
  font-size: calc(10px + 10vmin);
  color: #05386b;
  font-weight: bold;
  font-family: 'georgia';
}

.App-header .search-bar {
  min-width: 50vw;
}
